<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wyait.manage.dao.SupUserMapper" >
  <resultMap id="BaseResultMap" type="com.wyait.manage.pojo.SupUser" >
    <id column="sup_userId" property="supUserid" jdbcType="VARCHAR" />
    <result column="sup_phone" property="supPhone" jdbcType="VARCHAR" />
    <result column="sup_source" property="supSource" jdbcType="VARCHAR" />
    <result column="task_id" property="taskId" jdbcType="VARCHAR" />
    <result column="task_type" property="taskType" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="createUser" property="createuser" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateUser" property="updateuser" jdbcType="VARCHAR" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sup_user
    where sup_userId = #{supUserid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wyait.manage.pojo.SupUser" >
    insert into sup_user (sup_userId, sup_phone, sup_source, 
      task_id, task_type, status, 
      IP, createUser, createTime, 
      updateUser, updateTime)
    values (#{supUserid,jdbcType=VARCHAR}, #{supPhone,jdbcType=VARCHAR}, #{supSource,jdbcType=VARCHAR}, 
      #{taskId,jdbcType=VARCHAR}, #{taskType,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{ip,jdbcType=VARCHAR}, #{createuser,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updateuser,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wyait.manage.pojo.SupUser" >
    update sup_user
    set sup_phone = #{supPhone,jdbcType=VARCHAR},
      sup_source = #{supSource,jdbcType=VARCHAR},
      task_id = #{taskId,jdbcType=VARCHAR},
      task_type = #{taskType,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      IP = #{ip,jdbcType=VARCHAR},
      createUser = #{createuser,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateUser = #{updateuser,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where sup_userId = #{supUserid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select sup_userId, sup_phone, sup_source, task_id, task_type, status, IP, createUser, 
    createTime, updateUser, updateTime
    from sup_user
    where sup_userId = #{supUserid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select sup_userId, sup_phone, sup_source, task_id, task_type, status, IP, createUser, 
    createTime, updateUser, updateTime
    from sup_user
  </select>
</mapper>